<!DOCTYPE html>
<html>

<head>
    <title>CSV File Selector</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="header-container">
        <h1 class="header-title">Data Visualizer</h1>
    </div>
    <div class="content-container">
        <h1>Select a CSV file to load</h1>
        <form method="POST" action="{{ url_for('proceed') }}">
            <select name="csv_file">
                {% for file in csv_files %}
                <option value="{{ file }}">{{ file }}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>
        
        <div class="toggle-switch">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    <div class="col-9">
        {% include '_data.html' %}
    </div>
</body>

</html>